
.mt-150 {
    margin-top: 150px;
}

.mb-150 {
    margin-bottom: 150px;
}

.h-160 {
    height: 160px;
}

.page-link {
    color: #000;
}

.page-item.active .page-link {
    background-color: orange !important;
    border-color: orange !important;
}

.active a {
    font-weight:bold;
}

.food-pairing-icon {
    width: 10%;
}

.play-icon {
    width: 25px;
}

.beer-image:hover {
    -webkit-animation: spin 4s linear infinite;
    -moz-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}

.drunk, .sober, .beerCounter {
    font-weight: bold;
    font-size:2em;
}

.drunk {
    color: darkred;
}

.sober {
    color: darkgoldenrod;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
